<nav class="navbar navbar-expand-lg p-1">
    <div class="container-fluid d-flex justify-content-between">
        <div class=" bread flex-column align-items-center">
            <a class="navbar-brand fs-3 fw-bold text-dark nav-link  " href="/dashboard">RBIS Technologies</a>

        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars text-white"></i>
        </button>
        <div class="collapse navbar-collapse  " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex  align-items-center w-100 justify-content-end">

                <li class="nav-item me-1">
                    <a class="nav-link active box me-2" aria-current="page" href="/dashboard">
                        <i class="fa-solid fa-house p-2"></i>
                        <span class="fw-bold ">Home</span>
                    </a>

                </li>
              
                
                <li class="nav-item">
                    <a class="nav-link  box me-2" aria-current="page" >
                        <i class="fa-solid fa-envelope p-2  "></i>
                        <span class="fw-bold ">About Us</span>
                    </a>
                </li>

                <li class="nav-item ">
                        <div class="  p-0">
                            <a  class="nav-link box  dropdown-toggle " data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <i class="fa-solid fa-user p-2 "></i>
                              <span class="fw-bold"> {{user | titlecase}}</span>
                        </a>
                            <ul class="dropdown-menu ">
                                <li><a class="dropdown-item " (click)="logout()">Log Out</a></li>
                            </ul>
                        </div>
               
                </li>
                
             
            </ul>
          
          
        </div>
    </div>

</nav>